In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('Heart.csv')

In [8]:
df.shape

(303, 15)

In [9]:
df.describe

<bound method NDFrame.describe of      Unnamed: 0  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
0             1   63    1       typical     145   233    1        2    150
1             2   67    1  asymptomatic     160   286    0        2    108
2             3   67    1  asymptomatic     120   229    0        2    129
3             4   37    1    nonanginal     130   250    0        0    187
4             5   41    0    nontypical     130   204    0        2    172
..          ...  ...  ...           ...     ...   ...  ...      ...    ...
298         299   45    1       typical     110   264    0        0    132
299         300   68    1  asymptomatic     144   193    1        0    141
300         301   57    1  asymptomatic     130   131    0        0    115
301         302   57    0    nontypical     130   236    0        2    174
302         303   38    1    nonanginal     138   175    0        0    173

     ExAng  Oldpeak  Slope   Ca        Thal  AHD
0        0      2.3      3  0.0       fixed   No
1        1      1.5      2  3.0      normal  Yes
2        1      2.6      2  2.0  reversable  Yes
3        0      3.5      3  0.0      normal   No
4        0      1.4      1  0.0      normal   No
..     ...      ...    ...  ...         ...  ...
298      0      1.2      2  0.0  reversable  Yes
299      0      3.4      2  2.0  reversable  Yes
300      1      1.2      2  1.0  reversable  Yes
301      0      0.0      2  1.0      normal  Yes
302      0      0.0      1  NaN      normal   No

[303 rows x 15 columns]>

In [10]:
df.values

array([[1, 63, 1, ..., 0.0, 'fixed', 'No'],
       [2, 67, 1, ..., 3.0, 'normal', 'Yes'],
       [3, 67, 1, ..., 2.0, 'reversable', 'Yes'],
       ...,
       [301, 57, 1, ..., 1.0, 'reversable', 'Yes'],
       [302, 57, 0, ..., 1.0, 'normal', 'Yes'],
       [303, 38, 1, ..., nan, 'normal', 'No']], dtype=object)

In [11]:
df['Age'].min()

29

In [12]:
df.melt()

        variable value
0     Unnamed: 0     1
1     Unnamed: 0     2
2     Unnamed: 0     3
3     Unnamed: 0     4
4     Unnamed: 0     5
...          ...   ...
4540         AHD   Yes
4541         AHD   Yes
4542         AHD   Yes
4543         AHD   Yes
4544         AHD    No

[4545 rows x 2 columns]

In [13]:
x = df['Age']

In [14]:
(df ==0).sum().sum()

985

In [20]:
y =df.loc[0:4,['Age','Sex','ChestPain','RestBP','Chol']]
y

   Age  Sex     ChestPain  RestBP  Chol
0   63    1       typical     145   233
1   67    1  asymptomatic     160   286
2   67    1  asymptomatic     120   229
3   37    1    nonanginal     130   250
4   41    0    nontypical     130   204

In [26]:
c = df['Chol']

In [27]:
c

0      233
1      286
2      229
3      250
4      204
      ...
298    264
299    193
300    131
301    236
302    175
Name: Chol, Length: 303, dtype: int64

In [29]:
from sklearn.metrics import recall_score
A = df['A']
B = df['B']
recall_score(A,B)

KeyError: 'A'